<div class="card">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">Filter By:</div>
      <div class="col-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Filtered by: {{ listFilter }}</h4>
    </div>
  </div>
  <div class="table-responsive">
    <table *ngIf="filteredTeams.length">
      <thead>
        <tr>

        </tr>
        <th>
          <button (click)="togglePics()">
          {{showImage ? 'Hide' : 'Show'}} Pics</button>
        </th>
      </thead>
      <tr *ngFor="let team of filteredTeams">
        <div class="card">
          <div class="card-header">
            {{ team.proTeamName }}
          </div>
          <div class="photo">
            <img *ngIf="showImage" [src]="team.picpath" />
          </div>
        </div>
      </tr>
    </table>
  </div>
</div>
