<p>navigation works!</p>

<nav>
  <ul>
    <li>
      <a
        href="proplayer"
        [routerLink]="['/proplayer']"
        routerLinkActive="router-link-active"
      >
        <span> ProPlayers </span>
      </a>
    </li>

    <li>
      <a
        href="proteams"
        [routerLink]="['/proteams']"
        routerLinkActive="router-link-active"
      >
        <span> ProTeams </span>
      </a>
    </li>

    <li>
      <a href="teams"
        [routerLink]="['/teams']"
        routerLinkActive="router-link-active"
      >
        <span> Teams </span>
      </a>
    </li>
  </ul>
</nav>
