nav {
  ul {
    margin-left: $gutter;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  ul li {
    width: auto;
  }
  ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  ul li a {
    padding: 0.5rem 1rem;
  }
}
main {
  padding: 1rem 2%;
  figure.photo {
    max-width: 25% - $dblegutter;
    float: left;
  }
  div.blog article {
    float: left;
    width: 33.33%-$dblegutter;
  }
  div.blog article:nth-child(2n + 1) {
    clear: none;
  }
  div.blog article:nth-child(3n + 1) {
    clear: left;
  }
  div.card  {
    float: left;
    width: 33.33%-$dblegutter;
  }
  .news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
// The Wrapper is used to contain the page contents from taking up too much space on large devices.
//div margin puts 2rem top & bottom. Auto margin centers the page left to right
//box-shadow settings are: horizontal offset, vertical offset, blur amount, color
div#wrapper {
  max-width: 80rem;
  margin: 2rem auto;
  box-shadow: 0 0 10px #000000;
}
body{
  background-image: url(../../assets/images/background.jpg);
  background-size: contain;
}
header, nav, main, footer{
  max-width: 60rem;
  margin: 0 auto;
}
