main {
  padding: 1rem 2%;

  figure.photo {
    max-width: 50% - $dblegutter;
    float: left;
  }

  .news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: .5rem;
  }

  .blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: .5rem;
  }
  .blog article:nth-child(1){
    grid-column: 1 / span3;
  }

  .blog article:nth-child(5){
    grid-column: 1 / span2;
  }
}
